body
{
    margin: 0;
    padding: 0;
    height: 100%;
    float: left;
    width: 100%;    
    overflow: hidden;
}
.carousel-inner
{
    height: 100%;
}

.carousel-item
{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active
{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}
.container {
    /* margin-top: 35vh; */ 
    
}

.arrow-container
{
    display: flex;
    background-color: black;
    width: 30px;
    height: 30px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


.arrow-container .fa
{
    display: flex!important;
}
blockquote {
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 20px 20px 20px 40px;
    border-left: none;
    position: relative;
    text-indent: -19px
}

#block_content {
    padding-top: 40px;
    text-align: center;
}

blockquote p {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

blockquote b
{
    font-size: 1.5em;
    line-height: 2em;
}

blockquote:before,
blockquote:after {
    font-family: Arial, serif;
    font-size: 10em;
    vertical-align: middle;
    line-height: 0
}

blockquote:before {
    content: open-quote;
    margin-right: 4px;
    position: absolute;
    top: 82px;
    left: 40px;
}

blockquote:after {
    content: close-quote;
    margin-left: 3px;
    position: absolute;
    bottom: 22px;
    right: 40px;
}

blockquote.blockstyle,
blockquote.style2 {
    background: #fff;
    /* font-style: italic */
}

blockquote.blockstyle p,
blockquote.style2 p {
    display: inline
}

blockquote.blockstyle {
    /* border-left: 3px solid #f0715f; */
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 80px 40px;
    box-sizing: border-box;
}

blockquote.blockstyle>span.triangle:before {
    text-indent: 0;
    content: "\f0da";
    font-family: FontAwesome;
    color: #f0715f;
    position: absolute;
    left: -1px;
    top: 50%;
    margin-top: -11px;
    font-style: normal
}

blockquote.blockstyle:before
{
    color: #f0715f;
}

blockquote.blockstyle:after 
{
    color: grey;
}

blockquote.blockstyle.border-color-blue {
    border-color: #01b7f2
}

blockquote.blockstyle.border-color-blue>span.triangle:before {
    color: #01b7f2
}

blockquote.blockstyle.border-color-yellow {
    border-color: #fdb714
}

blockquote.blockstyle.border-color-yellow>span.triangle:before {
    color: #fdb714
}

.carousel-item:nth-child(1) {
    background-image: url("background/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .carousel-item:nth-child(2) {
    background-image: url("background/download1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .carousel-item:nth-child(3) {
    background-image: url("background/timothy-eberly-1mPBkYvbu3w-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }